# Installs all Revolve2 packages in editable mode as well as all example requirements.

-e standards[dev]
-e simulators/mujoco_simulator[dev]
-e experimentation[dev]
-e modular_robot_simulation[dev]
-e modular_robot_physical[remote]
-e modular_robot[dev]
-e simulation[dev]
-r ./examples/3_experiment_foundations/3e_explore_initial_population/requirements.txt
-r ./examples/4_example_experiment_setups/4d_robot_bodybrain_ea_database/requirements.txt
-r ./examples/4_example_experiment_setups/4f_robot_brain_cmaes_database/requirements.txt
-r ./examples/4_example_experiment_setups/4b_simple_ea_xor_database/requirements.txt
