name: ci

on: push

jobs:
  test_install:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ">=3.8"
      - name: create virtualenv
        run: |
          pip install virtualenv
          virtualenv .venv
          . .venv/bin/activate
      - name: install serialization
        run: pip install ./serialization
      - name: install actor_controller
        run: pip install ./actor_controller
      - name: install rpi_controller
        run: pip install ./rpi_controller
      - name: install core
        run: pip install ./core
      - name: install runner isaacgym
        #run: pip install ./runners/isaacgym[dev]
        run: echo "IsaacGym is not open source so sadly we cannot test this."
      - name: install genotype CPPNWIN
        run: |
          sudo apt install libcereal-dev
          pip install ./genotypes/cppnwin

  check_format:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: psf/black@stable
      - uses: isort/isort-action@master
        with:
          configuration: "--check-only --diff --profile black"

  mypy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ">=3.8"
      - name: create virtualenv
        run: |
          pip install virtualenv
          virtualenv .venv
          . .venv/bin/activate
      - name: install serialization
        run: pip install ./serialization[dev]
      - name: install actor_controller
        run: pip install ./actor_controller[dev]
      - name: install rpi_controller
        run: pip install ./rpi_controller[dev]
      - name: install core
        run: pip install ./core[dev]
      - name: install runner isaacgym
        #run: pip install ./runners/isaacgym[dev]
        run: echo "IsaacGym is not open source so sadly we cannot test this."
      - name: install genotype CPPNWIN
        run: |
          sudo apt install libcereal-dev
          pip install ./genotypes/cppnwin[dev]
      - name: install requirements for mypy
        run: pip install -r ./mypy/requirements.txt
      - name: run mypy
        run: ./mypy/mypy_opensource.sh

  docs:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ">=3.8"
      - name: create virtualenv
        run: |
          pip install virtualenv
          virtualenv .venv
          . .venv/bin/activate
      - name: install serialization
        run: pip install ./serialization[dev]
      - name: install actor_controller
        run: pip install ./actor_controller[dev]
      - name: install rpi_controller
        run: pip install ./rpi_controller[dev]
      - name: install core
        run: pip install ./core[dev]
      - name: install runner isaacgym
        #run: pip install ./runners/isaacgym[dev]
        run: echo "IsaacGym is not open source so sadly we cannot test this."
      - name: install genotype CPPNWIN
        run: |
          sudo apt install libcereal-dev
          pip install ./genotypes/cppnwin[dev]
      - name: install requirements for sphinx
        run: pip install -r ./docs/requirements.txt
      - name: sphinx
        run: make -C docs html
      - name: deploy
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: JamesIves/github-pages-deploy-action@v4.2.2
        with:
          branch: gh-pages
          folder: docs/build/html
          clean-exclude: .nojekyll