name: ci

on: [push, pull_request]

jobs:
  dev_install:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v3
        with:
          python-version: "3.10.x"
      - name: install_revolve2
        run: ./dev_install.sh

  student_install:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v3
        with:
          python-version: "3.10.x"
      - name: install_revolve2
        run: ./student_install.sh

  check_format:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v3
        with:
          python-version: "3.10.x"
      - name: install_tools
        run: pip install -r ./codetools/requirements.txt
      - name: black
        run: ./codetools/black/check.sh
      - name: isort
        run: ./codetools/isort/check.sh
      - name: pydocstyle
        run: ./codetools/pydocstyle/check.sh
      - name: darglint
        run: ./codetools/darglint/check.sh
      - name: pyflakes
        run: ./codetools/pyflakes/check.sh
      - name: sort-all
        run: |
          ./codetools/sort_all/fix.sh
          [[ -z $(git status -s) ]]
          git checkout -- .

  mypy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v3
        with:
          python-version: "3.10.x"
      - name: install_revolve2
        run: ./dev_install.sh
      - name: run_mypy
        run: ./codetools/mypy/check.sh

  docs:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v3
        with:
          python-version: "3.10.x"
      - name: install_revolve2
        run: ./dev_install.sh
      - name: sphinx
        run: make -C docs html
      - name: deploy
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: JamesIves/github-pages-deploy-action@v4.2.2
        with:
          branch: gh-pages
          folder: docs/build/html
          clean-exclude: .nojekyll

  unit_tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10.x"
      - name: install virtual display
        run: |
          bash .github/workflows/install_display.sh
          echo "DISPLAY=:0" >> $GITHUB_ENV

      - name: install repo
        run: bash .github/workflows/installs.sh
      #- name: install examples requirements
      #  run: |
      #    pip install -r examples/robot_bodybrain_ea/requirements.txt
      #    pip install -r examples/robot_brain_cmaes/requirements.txt
      #- name: install pytest dependencies
      #  run: pip install -r tests/requirements.txt
      - name: run pytest
        run: pytest -v